@use "../abstracts/index" as *;

/* Start Works */

#works.works {
  .box {
    &::before {
      content: attr(data-work);
      position: absolute;
      background-color: rgba(var(--secondary-color-rgb), .5);
      width: calc(100% - 8px);
      height: calc(100% - 8px);
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-weight: bold;
      transition: 0.3s;
      font-size: 1.5rem;
      transform: translateX(calc(-100% - 4px));
    }
    &:hover {
      &::before {
        transform: translateX(0);
      }
    }
  }
}